@CHARSET "UTF-8";

body{
	background-color:rgb(200,200,200);
	
}

#header {
	background-color:darkred;
	color:black;
	text-align:center;
	padding:6px;
}

#nav {
	border:darkred 5px solid;
	text-align:center;
	padding:3px;
}

#form {
	border:gold 5px solid;
	text-align:center;
	padding:6px;
}

#footer {
	background-color:darkred;
	text-align:center;
	font-weight:bold;
	padding:6px;
	
}

#section {
	border:gold 5px solid;
	padding:6px;
	text-align:center;
}

#menu, th, td{
	border: 1px solid black;
	text-align:left;
	
}
th, td{
	width: 200px;
}

#surround{
	position:relative;
	height:500px;
	border:gold solid 5px;
}
#itemSelect, #itemDescription, #itemPicture{
	
	float:left;
	min-height: 500px;
	
}

#itemSelect{
	width:250px;
	margin-left: 10px;
	margin-right: 20px;
}

#itemDescription{
	width:auto;
	margin-right: 20px;
}

#login{
	padding:5px;
	background-color:darkred;
	text-align:left;
	font-size:22px;
	font-weight:bold;
}



